<ul class="menu-list">
	<li class="has-text-nowrap has-overflow-hidden" *ngFor="let list of lists | async">
		<a [routerLink]="['shopping-lists', list.id]" routerLinkActive="has-text-info is-active-list">
			<!-- <i class="icon is-size-5" 
			   [ngClass]="{'has-text-grey-lighter ion-md-heart-empty': list.isMain}">
			</i> -->
			<span>{{list.name}}</span>
			<!-- <span>
				<div class="dropdown-menu" id="dropdown-menu4" role="menu">
					<div class="dropdown-content">
						<div class="dropdown-item">
							<p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
						</div>
					</div>
				</div>
			</span> -->
			<!-- <span (click)="toggleEditable(list)">{{list.name}}</span> -->
			<!-- <i class="icon ion-ios-trash has-text-danger is-size-4" 
			   (click)="delete(index)" 
				style="margin-left: 1em;">
			</i> -->
		</a>
		<!-- <a class="navbar-burger">
			<span></span>
			<span></span>
			<span></span>
		</a> -->

		<!-- <sidebar-list-form [model]="list.name" (submit)="saveChanges(list, $event)" (clear)="onClear()" *ngIf="list.isEditable"></sidebar-list-form> -->
	</li>
</ul>