<form class="add-list-form" (submit)="onSubmit()" autocomplete="off">
	<div class="field">
		<div class="control has-content-between">
			<input #listName class="input is-small has-background-white is-radiusless is-shadowless" name="listName" (keyup)="onKeyUp($event)" [(ngModel)]="model" type="text" placeholder="List name" required>
			<button type="button" class="is-size-4" style="background-color: transparent; border: none;" (click)="onClear()">
				<i class="icon ion-ios-close has-text-grey"></i>
			</button>
		</div>
	</div>

	<!-- <div class="field">
		<div class="control">
			<textarea class="textarea" placeholder="Textarea"></textarea>
		</div>
	</div>

	<div class="field">
		<div class="control">
			<label class="checkbox">
				<input type="checkbox">
				I agree to the <a href="#">terms and conditions</a>
			</label>
		</div>
	</div> -->
</form>